<% include('header') %>
<form action="/login" method="post" name="loginForm">
  <input type="text" name="userName">
  <input type="password" name="pwd">
  <input type="submit" value="login">
</form>
<%- include('login-script') %>
<% include('foot') %>